.text_about
{
    text-align: left;
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 170%;
}

li
{
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    list-style-type: none;
    color: gray ;  
}

li a.active
{
    border-bottom: 2px solid #1DA1F2; 
    color: #1DA1F2;
}
li a:hover:not( .active)
{
    color: #1DA1F2;
    border-bottom: 2px solid #1DA1F2;
}

h1
{
    color: #1DA1F2;
    font-family: Arial, Helvetica, sans-serif ;
}

